body{
	background-color: #1B1F27;
	font-family: Arial, Helvetica, sans-serif;
	overflow: auto;
}

.area-cadastro{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.cadastro{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #181920;
	border-radius: 10px;
	width: 500px;
	height: auto;
	padding: 35px;
}

.cadastro form{
	display: flex;
	width: 100%;
	flex-direction : column;
}

.cadastro input{
	margin-top: 10px;
	background-color: #252A34;
	padding-left: 10px;
	color: #CBD0F7;
	border: none;
	height: 45px;
	outline: none;
	border-radius: 8px;
}

.cadastro p, text, label, select{
	color: #CBD0F7;
}

input::placeholder{
	color: #CBD0F7;
	font-size: 14px;
}

form [type="submit"]{
	display: block;
	background-color: #5568FE;
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.cadastro a{
	color: #5568FE;
	text-decoration: none;
	margin-left: 10px;
}